* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 70vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.font-1 {
    color: #6c757d;
}

.lg-space {
    padding: 50px;
}

@media only screen and (max-width: 768px) {}